# Python
__pycache__
*.pyc
*.egg-info
dist
.idea
# Log
*.log
*.log.*
*.json
*.jsonl
data
# Data
!**/alpaca-data-conversation.json
bitsandbytes
# Editor
.idea
merge_lora_models
*.swp
llava.egg-info
checkpoints
# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
